section.about-company
  .site-container
    h2.about-company__heading
      | Интеллигент строй — это
    .about-company__mobile-container
      .about-company__mobile-block
        .about-company__item
          img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
          p.about-company__text
            | масштабные проекты в&nbsp;строительстве
        img(src="assets/images/company-history-image.jpg" alt="Image" loading="lazy" class="about-company__block-image")
      .about-company__mobile-block
        .about-company__item
          img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
          p.about-company__text
            | надёжный #[br] партнёр
        .about-company__item
          img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
          p.about-company__text
            | выполнение проектов #[br]
            | в срок
        .about-company__item
          img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
          p.about-company__text
            | качественная #[br]
            | работа
    p.about-company__label.about-company__label--is-mobile
      | Мы вышли на российский уровень и продолжаем развиваться!

    .about-company__container
      .about-company__block
        ul.about-company__list
          li.about-company__item
            img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
            p.about-company__text
              | масштабные проекты в&nbsp;строительстве
          li.about-company__item
            img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
            p.about-company__text
              | качественная #[br]
              | работа
      .about-company__block
        ul.about-company__list
          li.about-company__item
            img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
            p.about-company__text
              | надёжный #[br] партнёр
          li.about-company__item
            img.about-company__icon(src="assets/images/history-icon1.svg" alt="Image" loading="lazy")
            p.about-company__text
              | выполнение проектов #[br]
              | в срок
      .about-company__block
          img(src="assets/images/company-history-image.jpg" alt="Image" loading="lazy" class="about-company__block-image")
    .about-company__container.about-company__container--offset-top
      .about-company__block
        img(
          src="assets/images/company-history-image1.jpg"
          alt="Image"
          loading="lazy"
          class="about-company__block-image about-company__block-image--is-small"
        )
      .about-company__block.about-company__block--is-big
        p.about-company__label
          | Мы вышли на российский уровень и продолжаем развиваться!
