section.partners
  .site-container
    .partners__nav
      h2.partners__heading
        | нам доверяют
      +button('реализованные проекты')
    .partners__container
      .partners__block
        img.partners__image(src="assets/images/partner.png" alt="Logo" loading="lazy")
        p.partners__descr
          | #[a(href="./") «Восток-С»] — динамично развивающаяся инвестиционно-строительная компания,
          | работающая на строительном рынке города Казани с 2005 года.
      .partners__block
        img.partners__image(src="assets/images/partner1.png" alt="Logo" loading="lazy")
        p.partners__descr
          | #[a(href="./") «Татинвестгражданпроект»] — ведущее предприятие республики Татарстан в
          | области градостроительного, архитектурно-строительного проектирования и инженерных изысканий. 
      .partners__block
        img.partners__image(src="assets/images/partner.png" alt="Logo" loading="lazy")
        p.partners__descr
          | #[a(href="./") ООО СК «Алтын Групп»] — успешно осуществляет свою
          | деятельность с 2011 года и за это время отлично зарекомендовала себя не только в г. Казани, но и за ее пределами.
