.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 123;
  width: 100%;
  height: calc(var(--header-height) + var(--header-offset));
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    align-items: flex-start;
    margin-top: auto;
  }

  &__nav {
    margin-left: auto;

    ul li a {
      transition: all var(--transition);

      &.is-hidden {
        opacity: 0.2;
      }

      &.is-active {
        opacity: 1;
      }
    }

    .nav__list {
      &:hover {
        li a {
          opacity: 0.2;
        }
      }
    }

    ul li a {
      &:hover {
        opacity: 1 !important;
      }
    }
  }

  &__contacts {
    margin-left: 3rem;
  }
}
