.news-article {
  width: 100%;
  background-color: var(--color-grey);
  height: 31.8rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__image {
    width: 100%;
    height: 17.2rem;
    object-fit: cover;
  }

  &__info {
    padding: 1.7rem 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__date {
    font: 300 1.2rem/1.4rem var(--main-ff);
    color: #0000004D;
  }

  &__text {
    font: 300 1.2rem/1.4rem var(--main-ff);
    margin-top: auto;
    max-width: 19.2rem;
    color: #000;

    @include maxSizeText(3);
  }
}
