.projects-list {
  margin-bottom: 10rem;

  @include mq(sm) {
    margin-bottom: 5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 9.2rem;
    margin-bottom: 4.1rem;
  }

  &__slider {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    @include mq(sm) {
      display: block;
    }

    &-item {
      position: relative;
      grid-column: span 4;

      @include mq(md) {
        grid-column: span 6;
      }

      @include mq(sm) {
        margin-bottom: 3rem;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-child(1) {
        &::before {
          position: absolute;
          right: -0.5px;
          top: -20.9rem;
          width: 0.5px;
          height: 1370%;
          background-color: #FFFFFF4D;
          content: "";

          @include mq(md) {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        &::before {
          position: absolute;
          left: -0.5px;
          top: -20.9rem;
          width: 0.5px;
          height: 1370%;
          background-color: #FFFFFF4D;
          content: "";

          @include mq(md) {
            display: none;
          }
        }
      }
    }
  }
}
