section.about-project
  .site-container
    .about-project__container
      .about-project__block
        p.about-project__name
          | Административный корпус
          | ОКН «Гостиница Мойнакской грязелечебницы»

        span.about-project__label
          | Заказчик:
        p.about-project__text
          | ГУП «Татинвест-
          | гражданпроект»
        span.about-project__label
          | Виды работ:
        p.about-project__text
          | Капитальный
          | ремонт
        span.about-project__label
          | Год:
        p.about-project__text
          | 2024

      .about-project__block
        span.about-project__label
          | Год:
        p.about-project__adress
          | Евпатория, ул. Франко, дом 30,
          | литер «А», корпус №1

        p.about-project__square
          | 2 200 м2
        span.about-project__sub-label
          | общая площадь
        p.about-project__square
          | 410 млн ₽
        span.about-project__sub-label
          | стоимость проекта
