section.project-slider
  .site-container.main-slider__parent
    .swiper.project-slider__container
      .swiper-wrapper
        .swiper-slide
          img(src="assets/images/intro-layer1.jpg" alt="Image" loading="lazy" class="project-slider__image")
        .swiper-slide
          img(src="assets/images/intro-layer2.jpg" alt="Image" loading="lazy" class="project-slider__image")
        .swiper-slide
          img(src="assets/images/intro-layer3.jpg" alt="Image" loading="lazy" class="project-slider__image")
        .swiper-slide
          img(src="assets/images/intro-layer4.jpg" alt="Image" loading="lazy" class="project-slider__image")
    .project-slider__nav
      .project-slider__counts
        | 01   /   12
      .main-slider__nav
        button.main-slider__btn.main-slider__btn--is-prev
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white"/>
          <path d="M38 1L40 3L38 5" stroke="white"/>
          </svg>
        button.main-slider__btn.main-slider__btn--is-next
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white"/>
          <path d="M38 1L40 3L38 5" stroke="white"/>
          </svg>
