.about-project {
  margin-bottom: 4.8rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    @include mq(sm) {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__block {
    grid-column: span 6;
  }

  &__name {
    font: 350 2.5rem/3rem var(--main-ff);
    max-width: 42rem;
    margin-bottom: 10.5rem;
    color: var(--color-white);

    @include mq(md) {
      display: none;
    }

    &--is-mobile {
      display: none;

      @include mq(md) {
        display: block;
        margin-bottom: 4rem;
      }

      @include mq(sm) {
        font: 350 2rem/2.4rem var(--main-ff);
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: 4rem;

    @include mq(sm) {
      font: 300 1rem/1 var(--main-ff);
      margin-bottom: 2rem;
    }
  }

  &__text {
    font: 350 3rem/3.6rem var(--main-ff);
    margin-bottom: 4rem;
    color: var(--color-white);
    max-width: 30rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(sm) {
      font: var(--font-body);
      margin-bottom: 3rem;
    }
  }

  &__adress {
    color: var(--color-white);
    margin-bottom: 13.3rem;
    font-weight: 400;
    max-width: 34rem;

    @include mq(md) {
      margin-bottom: 5rem;
    }

    @include mq(sm) {
      font: var(--font-body);
      font-weight: 350;
      margin-bottom: 2rem;
    }
  }

  &__square {
    font: 350 10rem/12rem var(--main-ff);
    color: var(--color-white);

    @include mq(md) {
      font: 350 6rem/9rem var(--main-ff);
    }

    @include mq(sm) {
      font: 350 3rem/1 var(--main-ff);
    }
  }

  &__sub-label {
    display: block;
    margin-bottom: 5.6rem;

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include mq(sm) {
      margin-bottom: 1.6rem;
    }
  }
}
