mixin form-section(name)
  section.form-section&attributes(attributes)
    img.form-section__image(src="assets/images/form-section.jpg" alt="Image" loading="lazy")
    .site-container.form-section__container
      .form-section__block
        h2.form-section__heading= name
        form.form-section__form.form(data-need-validation)
          .form__group
            label.form__control-wrapper
              input.form__control(type="text" name="name" placeholder="Ваше имя" required)
            label.form__control-wrapper
              input.form__control(type="text" name="company" placeholder="Компания")
            label.form__control-wrapper
              input.form__control(type="text" name="phone" placeholder="Телефон" required)
            label.form__control-wrapper
              input.form__control(type="text" name="email" placeholder="Email")
          .form__footer
            +button('отправить').form__submit
            p.form__descr
              | Отправляя данную форму вы соглашаетесь 
              | #[a(href="./") с политикой обработки данных]
