extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "О компании"
  - const siteLang = "ru"
  - const isActive = 'about'

block content
  include pages/about/index
