extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Сотрудничество"
  - const siteLang = "ru"
  - const isActive = 'cooperation'

block content
  include pages/cooperation/index
