extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Новости"
  - const siteLang = "ru"
  - const isActive = 'news'

block content
  include pages/news/index
