extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Объекты - детальная"
  - const siteLang = "ru"
  - const isActive = 'projects'

block content
  include pages/projects-detail/index
