section.projects-list.main-slider__parent
  .site-container.projects-list__container
    .projects-list__header
      span.projects-list__count
        | 01   /   12
      .projects-list__nav.main-slider__nav
        button.main-slider__btn.main-slider__btn--is-prev
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white" stroke-width="0.5"/>
          <path d="M38 1L40 3L38 5" stroke="white" stroke-width="0.5"/>
          </svg>
        button.main-slider__btn.main-slider__btn--is-next
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white" stroke-width="0.5"/>
          <path d="M38 1L40 3L38 5" stroke="white" stroke-width="0.5"/>
          </svg>
    .projects-list__slider-wrapper
      .projects-list__fake-slider.swiper
        .swiper-wrapper
          .swiper-slide
          .swiper-slide
          .swiper-slide
      .projects-list__slider.swiper
        .swiper-wrapper
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                a(href="./projects-detail.html")
                  | ГАУЗ «ДРКБ Министерства
                  | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                a(href="./projects-detail.html")
                  | ГАУЗ «ДРКБ Министерства
                  | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                a(href="./projects-detail.html")
                  | ГАУЗ «ДРКБ Министерства
                  | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                a(href="./projects-detail.html")
                  | ГАУЗ «ДРКБ Министерства
                  | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                a(href="./projects-detail.html")
                  | ГАУЗ «ДРКБ Министерства
                  | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021

