section.projects-list.main-slider__parent
  .site-container.projects-list__container
    .projects-list__slider
      .projects-list__slider-item
        article.project-card
          img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
          p.project-card__text
            a(href="./projects-detail.html")
              | ГАУЗ «ДРКБ Министерства
              | здравоохранения РТ»
          adress.project-card__adress
            | г. Казань, 2021
      .projects-list__slider-item
        article.project-card
          img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
          p.project-card__text
            a(href="./projects-detail.html")
              | ГАУЗ «ДРКБ Министерства
              | здравоохранения РТ»
          adress.project-card__adress
            | г. Казань, 2021
      .projects-list__slider-item
        article.project-card
          img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
          p.project-card__text
            a(href="./projects-detail.html")
              | ГАУЗ «ДРКБ Министерства
              | здравоохранения РТ»
          adress.project-card__adress
            | г. Казань, 2021
      .projects-list__slider-item
        article.project-card
          img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
          p.project-card__text
            a(href="./projects-detail.html")
              | ГАУЗ «ДРКБ Министерства
              | здравоохранения РТ»
          adress.project-card__adress
            | г. Казань, 2021
      .projects-list__slider-item
        article.project-card
          img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
          p.project-card__text
            a(href="./projects-detail.html")
              | ГАУЗ «ДРКБ Министерства
              | здравоохранения РТ»
          adress.project-card__adress
            | г. Казань, 2021

