section.projects-list.main-slider__parent
  .site-container.projects-list__container
    .projects-list__header
      span.projects-list__count
        | 01   /   12
      .projects-list__nav.main-slider__nav
        button.main-slider__btn.main-slider__btn--is-prev
          +icon-mono('arrow-slider')(width="40" height="4")
        button.main-slider__btn.main-slider__btn--is-next
          +icon-mono('arrow-slider')(width="40" height="4")
    .projects-list__slider-wrapper
      .projects-list__fake-slider.swiper
        .swiper-wrapper
          .swiper-slide
          .swiper-slide
          .swiper-slide
      .projects-list__slider.swiper
        .swiper-wrapper
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                | ГАУЗ «ДРКБ Министерства
                | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                | ГАУЗ «ДРКБ Министерства
                | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                | ГАУЗ «ДРКБ Министерства
                | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                | ГАУЗ «ДРКБ Министерства
                | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021
          .swiper-slide
            article.project-card
              img.project-card__image(src="assets/images/project-card-img.jpg" alt="Image" loading="lazy")
              p.project-card__text
                | ГАУЗ «ДРКБ Министерства
                | здравоохранения РТ»
              adress.project-card__adress
                | г. Казань, 2021

