section.directions
  img.directions__layer(src="assets/images/directions-layer.jpg" loading="lazy" alt="Image")
  img.directions__layer(src="assets/images/directions-lines.svg" loading="lazy" alt="Lines")
  .site-container
    .directions__container
      .directions__block
        .directions__text
          h2
            | Основные
            | направления
          ul
            li Капитальное строительство
            li Реконструкция и реставрация объектов
            li Дорожное строительство
            li Гидротехническое строительство
            li Ремонтно-отделочныевиды работ
            li Инжиниринг
      .directions__block
      .directions__block
