section.history
  .site-container
    .history__container
      .history__block
        .history__texts
          h2
            | успешно работаем #[br] с 2019 года
          p
            | Зарекомендовали себя как надежный партнер, воплощая в жизнь
            | амбициозные идеи архитекторов, инвесторов и девелоперов
      .history__block
        ul.history__list
          li.history__item
            img.history__item-img(src="assets/images/history-icon1.svg" alt="Icon" loading="lazy")
            p.history__item-text
              | команда
              | профессионалов
          li.history__item
            img.history__item-img(src="assets/images/history-icon2.svg" alt="Icon" loading="lazy")
            p.history__item-text
              | технологичный
              | подход
          li.history__item
            img.history__item-img(src="assets/images/history-icon3.svg" alt="Icon" loading="lazy")
            p.history__item-text
              | собственный
              | парк техники
      .history__block
        img.history__img(src="assets/images/history-img.jpg" loading="lazy" alt="Image")
