section.intro
  .intro__bg(style="background-image: url(assets/images/intro-layer.jpg)")
  .site-container.intro__container
    p.intro__text
      | надежный партнер
      | для прогрессивных решений
    img.intro__logo(src="assets/images/great-intro-logo.svg" alt="Company Logo")
