.advantages {
  margin-bottom: 10rem;

  @include mq(sm) {
    margin-bottom: 5rem;
  }

  &__heading {
    font: var(--font-heading);
    margin-bottom: 4rem;
    text-transform: uppercase;

    @include mq(sm) {
      margin-bottom: 2.5rem;
    }
  }

  &__item {
    border-bottom: 1px solid #FFFFFF4D;
    min-height: 12.6rem;

    &:nth-child(1) {
      border-top: 1px solid #FFFFFF4D;
    }

    .site-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      min-height: 12.6rem;

      @include mq(sm) {
        min-height: 7.3rem;
      }
    }

    @include mq(sm) {
      min-height: 7.3rem;
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    max-width: 60rem;
    font: 300 2.5rem/3rem var(--main-ff);
    padding-top: 3rem;
    padding-bottom: 3.5rem;

    @include mq(sm) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      font: var(--font-body);
    }
  }

  &__image {
    position: absolute;
    width: 25rem;
    height: 12.6rem;
    object-fit: cover;
    opacity: 0;
    pointer-events: none;

    @include mq(sm) {
      width: 14.8rem;
      height: 7.4rem;
    }
  }
}
