.documentation {
  margin-bottom: 10rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.3rem;

    @include mq(sm) {
      margin-bottom: 2rem;
    }
  }

  &__heading {
    font: var(--font-heading);
    text-transform: uppercase;
  }

  &__text {
    max-width: 49.4rem;
    margin-bottom: 7.5rem;

    @include mq(sm) {
      display: none;
    }
  }

  &__card {
    width: 100%;
    padding: 3.5rem;
    background-color: var(--color-grey);
    display: flex;

    @include mq(sm) {
      padding: 1.5rem;
      min-height: 25.1rem;
    }
  }

  &__block {
    &:nth-child(2) {
      flex-shrink: 0;
      width: 15.5rem;

      @include mq(sm) {
        display: none;
      }
    }

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      @include mq(sm) {
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mq(sm) {
      display: none;
    }
  }

  &__date {
    color: #0000004D;
    font: 300 1.2rem/1.4rem var(--main-ff);
  }

  &__title {
    margin: auto 0;
    font: 300 1.2rem/1.4rem var(--main-ff);
    color: #000;
    max-width: 19.2rem;
  }

  &__link {
    align-self: flex-start;
    border-color: var(--color-dark);
    color: var(--color-dark);

    .icon {
      --color-icon: var(--color-dark);
    }

    @include mq(sm) {
      align-self: center;
    }
  }

  &__slider {
    overflow: visible;

    @include mq(sm) {
      width: 80%;
      margin: 0;
      transition: var(--transition);

      .swiper-slide {
        &:not(.swiper-slide-active) {
          transform: scale(0.8);
        }
      }
    }
  }

  &__counts {
    @include mq(sm) {
      display: none;
    }
  }

  &__nav {
    @include mq(sm) {
      margin-left: auto;
    }
  }

  @include mq(sm) {
    margin-bottom: 5rem;
  }
}
