section.news
  .news__container
    .news__block
      h3
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      img(src="assets/images/img.jpg" alt="Image")

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      img(src="assets/images/img.jpg" alt="Image")

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      img(src="assets/images/img.jpg" alt="Image")

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»

      img(src="assets/images/img.jpg" alt="Image")

      p
        | Глава Республики Крым Сергей Аксенов поблагодарил Рустама Минниханова и всех,
        | кто работал над обновлением клуба и сквера «Казанский»
    .news__block
      ul.news__articles
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
        li.news__articles-item
          article.news-article
            img.news-article__image(loading="lazy" src="assets/images/img.jpg" alt="Image")
            .news-article__info
              span.news-article__date
                | 24  /   07   /   2023
              p.news-article__text
                | Ремонт Форосского поселкового клуба
