section.advantages
  .site-container
    h2.advantages__heading
      | преимущества #[br] работы с нами
  ul.advantages__list
    li.advantages__item
      .site-container
        p.advantages__text
          | собственный парк современной
          | строительной спецтехники
        img(src="assets/images/adv1.jpg" alt="Image" class="advantages__image")
    li.advantages__item
      .site-container
        p.advantages__text
          | полный штат высококвалифицированных специалистов
        img(src="assets/images/adv2.jpg" alt="Image" class="advantages__image")
    li.advantages__item
      .site-container
        p.advantages__text
          | опыт работы со сложными,
          | крупными и срочными проектами
        img(src="assets/images/adv3.jpg" alt="Image" class="advantages__image")
    li.advantages__item
      .site-container
        p.advantages__text
          | выполнение гос. заказов, работа
          | в качестве генерального подрядчика
        img(src="assets/images/adv4.jpg" alt="Image" class="advantages__image")
    li.advantages__item
      .site-container
        p.advantages__text
          | строгое исполнение всех договорных обязательства
        img(src="assets/images/adv5.jpg" alt="Image" class="advantages__image")
    li.advantages__item
      .site-container
        p.advantages__text
          | наличие необходимых допусков СРО
        img(src="assets/images/adv6.jpg" alt="Image" class="advantages__image")
