section.directions-list
  .site-container
    .directions-list__container
      .directions-list__row
        p.directions-list__text
          | За годы продуктивной работы мы заработали высокую оценку наших
          | партнеров и вывели основные направления, в которых главной их характеристикой являются качество и четкое соблюдение сроков строительства.
        .directions-list__item
          span.directions-list__count
            | 01
          p.directions-list__sub-text
            | Инжиниринг
        img.directions-list__image(src="assets/images/directions-list.jpg" alt="Image")
      .directions-list__row
        .directions-list__item
          span.directions-list__count
            | 02
          p.directions-list__sub-text
            | Капитальное
            | строительство
        .directions-list__item
          span.directions-list__count
            | 03
          p.directions-list__sub-text
            | Дорожное строительство
        .directions-list__item
          span.directions-list__count
            | 04
          p.directions-list__sub-text
            | Гидротехническое строительство
      .directions-list__row
        img.directions-list__image(src="assets/images/directions-list.jpg" alt="Image")
        .directions-list__item
          span.directions-list__count
            | 05
          p.directions-list__sub-text
            | Реконструкция #[br]
            | и реставрация объектов
      .directions-list__row
        .directions-list__item
          span.directions-list__count
            | 06
          p.directions-list__sub-text
            | Ремонтно-отделочные #[br] виды работ
        +button("реализованные проекты", true).directions-list__link
