.about-company {
  margin-bottom: 20rem;

  &__heading {
    font: var(--font-heading);
    text-transform: uppercase;
    margin-bottom: 10rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    &--offset-top {
      margin-top: 2.3rem;

      .about-company__block {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }

    &:not(.about-company__container--offset-top) {
      .about-company__block {
        &:nth-child(1) {
          &::before {
            position: absolute;
            right: -0.5px;
            top: -30.9rem;
            width: 0.5px;
            height: 1370%;
            background-color: #FFFFFF4D;
            pointer-events: none;
            opacity: 0.5;
            content: "";
          }
        }

        &:nth-child(3) {
          &::before {
            position: absolute;
            left: -0.5px;
            top: -30.9rem;
            width: 0.5px;
            height: 1370%;
            background-color: #FFFFFF4D;
            pointer-events: none;
            opacity: 0.5;
            content: "";
          }
        }
      }
    }
  }

  &__block {
    position: relative;
    grid-column: 4 span;

    &--is-big {
      grid-column: span 8;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 4.9rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  &__block-image {
    width: 100%;
    height: auto;
    object-fit: contain;

    &--is-small {
      width: 17.1rem;
      height: 17.1rem;
      object-fit: cover;
    }
  }

  &__label {
    font: var(--font-heading);
    max-width: 50rem;
  }
}
