.partners {
  margin-bottom: 10rem;

  @include mq(sm) {
    margin-bottom: 5rem;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.4rem;

    .main-slider__nav {
      display: none;

      @include mq(md) {
        display: flex;
      }
    }

    @include mq(sm) {
      margin-bottom: 3rem;
    }
  }

  &__heading {
    font: var(--font-heading);
    text-transform: uppercase;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;

    @include mq(md) {
      display: none;
    }
  }

  &__slider {
    display: none;

    @include mq(md) {
      display: block;
      width: 90%;
      margin: 0 auto;

      .swiper-slide {
        display: flex;
        justify-content: center;
      }
    }
  }

  &__block {
    grid-column: span 4;

    &:last-child {
      padding-left: 3rem;
    }
  }

  &__image {
    width: auto;
    height: auto;
    object-fit: contain;
    align-self: flex-start;
  }

  &__descr {
    margin-top: auto;
    font: 300 1.2rem/1.4rem var(--main-ff);
    max-width: 30.6rem;

    a {
      text-decoration: underline;
    }
  }

  &__card {
    min-height: 22.6rem;
    display: flex;
    flex-direction: column;
  }

  &__btn {
    @include mq(md) {
      display: none;
    }

    &--is-mobile {
      display: none;

      @include mq(md) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 3rem;

        .partners__btn {
          display: inline-flex;
        }
      }
    }
  }
}
