main.page-main.main
  .wrapper(style="position: relative")
    +fake-lines()
    include intro
    include numbers
    include mission
    include values
  include team
  include work
  include partners
  include map
  +form-section('Станьте частью нашей команды')
