section.mission
  .site-container
    .mission__container
      .mission__block
      .mission__block
        .mission__square
          h2.mission__label
            |  Миссия #[br]
            | компании
          p.mission__text
            | Не просто работать на рынке строительства, а создавать лучший мир через предоставление качественных услуг
      .mission__block
