section.numbers
  .site-container
    .numbers__container
      .numbers__year
        span.numbers__label
          | 2019
        span.numbers__text
          | год основания компании
      .numbers__row
        .numbers__block
        .numbers__block
        .numbers__block
          span.numbers__label
            | 150
          span.numbers__text
            | квалифицированных специалистов
      .numbers__row
        .numbers__block
        .numbers__block
          span.numbers__label
            | >20
          span.numbers__text
            | реализованных
            | проектов
        .numbers__block
      .numbers__row
        .numbers__block
          span.numbers__label
            | 2.5
          span.numbers__text
            | млрд рублей годовой оборот
        .numbers__block
        .numbers__block

