section.about-partner
  .site-container
    .about-partner__heading
      h2
        | нам доверяют
  .about-partner__container
    .site-container
      .about-partner__grid-container
        .about-partner__block
          img(src="assets/images/partner-white.png" loading="lazy" alt="icon")

          p
            | #[a(href="./") «Восток-С»] — динамично развивающаяся инвестиционно-строительная компания,
            | работающая на строительном рынке города Казани с 2005 года
        .about-partner__block
          img(src="assets/images/partner-white.png" loading="lazy" alt="icon")

          p
            | #[a(href="./") «Восток-С»] — динамично развивающаяся инвестиционно-строительная компания,
            | работающая на строительном рынке города Казани с 2005 года
        .about-partner__block
          img(src="assets/images/partner-white.png" loading="lazy" alt="icon")

          p
            | #[a(href="./") «Восток-С»] — динамично развивающаяся инвестиционно-строительная компания,
            | работающая на строительном рынке города Казани с 2005 года
