section.team.main-slider__parent
  .site-container
    .team__header
      h2.team__heading
        | наша команда
      .main-slider__nav
        button.main-slider__btn.main-slider__btn--is-prev
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white"/>
          <path d="M38 1L40 3L38 5" stroke="white"/>
          </svg>
        button.main-slider__btn.main-slider__btn--is-next
          <svg class="icon" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 3H39.5" stroke="white"/>
          <path d="M38 1L40 3L38 5" stroke="white"/>
          </svg>
      .team__counts.main-slider__counts
        | 01 / 12
  .team__container
    .projects__fake-list
      .swiper-wrapper
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
    .team__list.swiper.main-slider
      .swiper-wrapper
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор
        .swiper-slide
          .team-card
            .team-card__layer
              img(src="assets/images/team-card.jpg" alt="Image" class="team-card__img")
            .team-card__info
              h3.team-card__label
                | Александра
                | Иванова
              p.team-card__text
                | Генеральный директор

