section.values
  .site-container
    h2.values__heading
      | Ценности компании
  .values__container
    .values__row
      input(type="checkbox" name="check" id="check1")
      .site-container
        label.values__item(for="check1")
          .values__block
            .values__num
              | 01
          .values__block
            p.values__label
              | Четкость
          .values__block
            .values__plus
              span
              span
        .values__text
          | Обеспечиваем прозрачность на каждом этапе проекта, чтобы наши клиенты точно знали, чего ожидать.
    .values__row
      input(type="checkbox" name="check" id="check2")
      .site-container
        label.values__item(for="check2")
          .values__block
            .values__num
              | 02
          .values__block
            p.values__label
              | Партнерство
          .values__block
            .values__plus
              span
              span
        .values__text
          | Строим долгосрочные отношения с клиентами и партнерами, основываясь на взаимном доверии и сотрудничестве.  
    .values__row
      input(type="checkbox" name="check" id="check4")
      .site-container
        label.values__item(for="check4")
          .values__block
            .values__num
              | 03
          .values__block
            p.values__label
              | Надежность
          .values__block
            .values__plus
              span
              span
        .values__text
          | Гарантируем выполнение обязательств и соблюдение сроков, чтобы наши клиенты могли на нас положиться.
          |
    .values__row
      input(type="checkbox" name="check" id="check4")
      .site-container
        label.values__item(for="check4")
          .values__block
            .values__num
              | 04
          .values__block
            p.values__label
              | Качество
          .values__block
            .values__plus
              span
              span
        .values__text
          | Стремимся к высоким стандартам, используя только лучшие материалы и технологии для создания долговечных объектов.
          |
    .values__row
      input(type="checkbox" name="check" id="check5")
      .site-container
        label.values__item(for="check5")
          .values__block
            .values__num
              | 05
          .values__block
            p.values__label
              | Уверенность
          .values__block
            .values__plus
              span
              span
        .values__text
          | Уверены в своих возможностях и знаниях, что позволяет нам реализовывать даже самые амбициозные проекты.
          |
    .values__row
      input(type="checkbox" name="check" id="check6")
      .site-container
        label.values__item(for="check6")
          .values__block
            .values__num
              | 06
          .values__block
            p.values__label
              | Смелость
          .values__block
            .values__plus
              span
              span
        .values__text
          | Не боимся принимать вызовы и внедрять инновации, чтобы предложить нашим клиентам уникальные решения.
          |
