section.values
  .site-container
    h2.values__heading
      | Ценности компании
  .values__container
    .values__row
      input(type="checkbox" name="check" id="check1")
      .site-container
        label.values__item(for="check1")
          .values__block
            .values__num
              | 01
          .values__block
            p.values__label
              | партнерство
          .values__block
            .values__plus
              span
              span
        .values__text
          | Строим долгосрочные отношения с клиентами и партнерами, основываясь на взаимном доверии и сотрудничестве.  
    .values__row
      input(type="checkbox" name="check" id="check2")
      .site-container
        label.values__item(for="check2")
          .values__block
            .values__num
              | 02
          .values__block
            p.values__label
              | партнерство
          .values__block
            .values__plus
              span
              span
        .values__text
          | Строим долгосрочные отношения с клиентами и партнерами, основываясь на взаимном доверии и сотрудничестве.  

