section.work
  .site-container
    .work__heading
      | подход к работе
    .work__container
      .work__block
        .work__item
          img.work__icon(src="assets/images/work-icon.svg" alt="Icon" loading="lazy")
          p.work__text
            | экспертность
            | сотрудников
        .work__item
          img.work__icon(src="assets/images/work-icon1.svg" alt="Icon" loading="lazy")
          p.work__text
            | экологичнсть
        .work__item
          img.work__icon(src="assets/images/work-icon2.svg" alt="Icon" loading="lazy")
          p.work__text
            | смелость
            | и командная работа
      .work__block
        .work__item
          img.work__icon(src="assets/images/work-icon3.svg" alt="Icon" loading="lazy")
          p.work__text
            | проверенная
            | техника
        .work__item
          img.work__icon(src="assets/images/work-icon4.svg" alt="Icon" loading="lazy")
          p.work__text
            | гарантия
            | надежности
        .work__item
          img.work__icon(src="assets/images/work-icon5.svg" alt="Icon" loading="lazy")
          p.work__text
            | уверенность
            | и качество
      .work__block
        .work__image-layer
          img(src="assets/images/work-img.jpg" alt="Image" loading="lazy")
        p.work__label-text
          | Мы используем современные и технологичные подходы к реализации проектов
